@import "./Variables.scss";

.artists {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;

  &__name {
    padding: 0 10px;
    width: fit-content;
    border-bottom: 1px solid $white;
  }

  &__picture {
    margin: 25px 0;
    height: auto;
    width: 225px;
  }

  &__text {
    font-size: 18px;
  }
}
