@import './Variables.scss';

.header {
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $orange;
    color: $white;

    &__hamburger {
        margin-left: 15px;
        height: 25px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;

        .hamburger {
            &__line {
                background: black;
                width: 25px;
                height: 2px;
            }
        }
    }

    &__box {
        width: auto;
        height: 45px;
        margin-right: 15px;
    }
}